{% extends '_layouts/cp' %}

{% do view.registerAssetBundle('lukeyouell\\mailchimplists\\assetbundles\\mailchimplists\\MailchimpListsAsset') %}

{% set title = 'MailChimp Lists' %}

{% block actionButton %}

  <span class="btn" onClick="window.location.reload()" data-icon="refresh"></span>

  <a href="{{ url('mailchimp-lists/new-list') }}" class="btn submit add icon">Create List</a>

{% endblock %}

{% set content %}

  {% include 'mailchimp-lists/includes/lists' %}

{% endset %}
