{% set totalPages = (response.body.total_items / params.count)|round(0, 'ceil') %}
<div class="grid-x grid-margin-x align-middle">

  <div class="medium-auto cell">
    <div class="pagination-count">
      {{ response.body.total_items }} results
    </div>
  </div>

  <div class="medium-shrink cell">
    <nav>
      <ul class="pagination">
        {% if currentPage != 1 %}
          <li class="pagination-previous">
            {{ currentPage != 1 ?
               ('<a href="' ~ craft.mailchimpLists.paginationUrl(currentUrl, { page: (currentPage - 1) }) ~ '">Previous</a>')|raw :
               'Previous'
            }}
          </li>
        {% endif %}
        <li class="current">{{ currentPage }}</li>
        {% if currentPage != totalPages %}
          <li class="pagination-next">
            {{ currentPage != totalPages ?
               ('<a href="' ~ craft.mailchimpLists.paginationUrl(currentUrl, { page: (currentPage + 1) }) ~ '">Next</a>')|raw :
               'Next'
            }}
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>

</div>
